## Check numerical sequence

In [2]:
import pandas as pd
import itertools

Option 1 is to pick a column as a list and do the trick with standard python list tools

In [3]:
df= pd.read_excel("./input/data.xlsx")
field_to_check="customer_id"

In [4]:
df.shape

(933, 9)

In [5]:
df.head()

,customer_id,gender,first_name,last_name,dob,date_enrollment,city,country,residential address
0,1,M,Chad,Rios,2016-10-05,2013-03-10,Port Rogerhaven,Bahamas,8525 Emily Bypass
1,2,F,Rachel,Lynch,2011-11-09,2020-01-04,Thompsonbury,Cook Islands,344 Nicholas Bypass Suite 895
2,3,M,John,Barber,2001-11-05,2017-06-11,North Christine,Turkmenistan,3914 Rodney Crest Apt. 837
3,4,M,David,Lewis,2015-01-22,2006-09-13,Port Anthony,Bouvet Island (Bouvetoya),901 Alexis Hill
4,5,M,Michael,Webster,2015-05-26,2008-05-18,South Miguel,Yemen,74108 Stephanie Shore

In [6]:
list_to_check= df[field_to_check].tolist()
# here the key command is "set" which picks only unique values.
# note that this means that we dont check for duplicates or
# non numeric, blanks etc, this should be done beforehand

list_to_check=sorted(set(list_to_check))

gap_list=[]
n= 0
for el in list_to_check:
    if n==0:
        n= el-1    
    if el-n > 1:
        gap_list.extend(range(n+1,el))
    n=el
print(len(gap_list))
print(gap_list)

67
[52, 117, 126, 143, 161, 170, 180, 211, 254, 255, 268, 269, 325, 336, 360, 361, 366, 373, 437, 460, 464, 466, 472, 510, 519, 552, 584, 586, 588, 607, 614, 626, 627, 628, 629, 630, 637, 666, 667, 687, 689, 727, 743, 765, 794, 801, 803, 820, 821, 831, 848, 874, 886, 912, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 965, 971, 985]

this optional routine converts it to pair of ranges, which can be useful if the gaps are clustered

In [7]:
def to_ranges(iterable):
    iterable = sorted(set(iterable))
    for key, group in itertools.groupby(enumerate(iterable), lambda t: t[1] - t[0]):
        group = list(group)
        yield [group[0][1], group[-1][1],group[-1][1]-group[0][1]+1]

df_grouped = pd.DataFrame.from_records(list(to_ranges(gap_list)),columns=["start","end","count"])
df_grouped

    start  end  count
0      52   52      1
1     117  117      1
2     126  126      1
3     143  143      1
4     161  161      1
5     170  170      1
6     180  180      1
7     211  211      1
8     254  255      2
9     268  269      2
10    325  325      1
11    336  336      1
12    360  361      2
13    366  366      1
14    373  373      1
15    437  437      1
16    460  460      1
17    464  464      1
18    466  466      1
19    472  472      1
20    510  510      1
21    519  519      1
22    552  552      1
23    584  584      1
24    586  586      1
25    588  588      1
26    607  607      1
27    614  614      1
28    626  630      5
29    637  637      1
30    666  667      2
31    687  687      1
32    689  689      1
33    727  727      1
34    743  743      1
35    765  765      1
36    794  794      1
37    801  801      1
38    803  803      1
39    820  821      2
40    831  831      1
41    848  848      1
42    874  874      1
43    886  886      1
44    912  912      1
45    919  928     10
46    965  965      1
47    971  971      1
48    985  985      1

In [9]:
df_grouped.to_excel("./output/Sequence Gaps Grouped.xlsx",index=False)

Option 2 is to do everything with panda data frames, iterating through each record, having previously sorted by the target column/field
Could be slower than using the previous option (using Lists) as Python is very fast with lists.

In [10]:
df.sort_values(by=[field_to_check], inplace=True)
gap_list=[]
n= 0
for index, row in df.iterrows():
    if n==0:
        n= row[field_to_check]-1    
    if (row[field_to_check]-n) > 1:
        gap_list.extend(range(n+1,row[field_to_check]))
    n=row[field_to_check]
print(gap_list)

[52, 117, 126, 143, 161, 170, 180, 211, 254, 255, 268, 269, 325, 336, 360, 361, 366, 373, 437, 460, 464, 466, 472, 510, 519, 552, 584, 586, 588, 607, 614, 626, 627, 628, 629, 630, 637, 666, 667, 687, 689, 727, 743, 765, 794, 801, 803, 820, 821, 831, 848, 874, 886, 912, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 965, 971, 985]

In [11]:
df2 = pd.DataFrame({'id':gap_list})
df2.to_excel("./output/Sequence Gaps.xlsx")
print(len(gap_list))
#df2

67

All done!!!