Load a simple file in CSV and process it with Pandas library

In [76]:
import pandas as pd 
from datetime import date,timedelta, datetime


def print_red(*args):
    print("\x1b[31m"+" ".join([str(x) for x in args])+"\x1b[0m")

def print_green(*args):
    print("\x1b[32m"+" ".join([str(x) for x in args])+"\x1b[0m")


print_red("testing")
print_green("testing")

testing
testing

In [77]:
ts = datetime.now()
print("process started:", ts)

process started: 2020-12-08 19:45:34.661162

In [78]:
df= pd.read_csv("./test_data/101_Demo_Data.csv")

In [79]:
df.shape #shows the number of columns and rows

(1708, 8)

In [80]:
df.columns.to_list()

['Auth_ID',
 'Date Authorisation',
 'Cust ID',
 'Amount',
 'Date Procedure',
 'Region',
 'Vulnerable',
 'Notes']

We turn headers to lower case as python is case sensitive and it is better for consistency

In [81]:
df.columns=[x.lower() for x in df.columns.to_list()]
df[0:10]

,auth_id,date authorisation,cust id,amount,date procedure,region,vulnerable,notes
0,9000001,19/05/2020,3710,9.11,12/06/2020,London,False,"Test of delimiter, this should be kept all tog..."
1,9000002,19/05/2020,3378,11.65,21/07/2020,West,False,NaN
2,9000003,19/05/2020,1963,13.52,21/06/2020,West,False,NaN
3,9000004,19/05/2020,3565,77.57,23/05/2020,East,False,NaN
4,9000005,19/05/2020,2249,21.37,26/07/2020,East,False,Customer may be vulnerable
5,9000006,19/05/2020,1669,12.60,26/07/2020,South,False,NaN
6,9000007,19/05/2020,1589,26.89,11/06/2020,East,False,NaN
7,9000008,19/05/2020,1596,43.98,16/06/2020,West,False,NaN
8,9000009,19/05/2020,3507,6.09,06/08/2020,North,False,NaN
9,9000010,19/05/2020,2543,11.36,27/06/2020,South,False,NaN

we remove spurious characters from the title

In [82]:
df.columns=df.columns.str.strip()
df.columns=df.columns.str.replace(' ','_')
df.columns=df.columns.str.replace('.','_')
df.columns=df.columns.str.replace('__','_')
df.columns=df.columns.str.replace('__','_')
df.iloc[0] #this is how we list one particular record based on the index

auth_id                                                         9000001
date_authorisation                                           19/05/2020
cust_id                                                            3710
amount                                                             9.11
date_procedure                                               12/06/2020
region                                                           London
vulnerable                                                        False
notes                 Test of delimiter, this should be kept all tog...
Name: 0, dtype: object

This is the simpler way, we just set a new row of titles

In [83]:
new_cols = ['auth_id', 
            'date', 
            'customer_id',
           'amount',
           'date_claim',
           'region',
           'vulnerable_customer',
           'notes']
df.columns = new_cols

df.head() #this is a convenient way of showing the first 5 records

,auth_id,date,customer_id,amount,date_claim,region,vulnerable_customer,notes
0,9000001,19/05/2020,3710,9.11,12/06/2020,London,False,"Test of delimiter, this should be kept all tog..."
1,9000002,19/05/2020,3378,11.65,21/07/2020,West,False,NaN
2,9000003,19/05/2020,1963,13.52,21/06/2020,West,False,NaN
3,9000004,19/05/2020,3565,77.57,23/05/2020,East,False,NaN
4,9000005,19/05/2020,2249,21.37,26/07/2020,East,False,Customer may be vulnerable

Yet another way of renaming dataframe columns, the inplace=True is used in Pandas to avoid having to assign the result to a dataframe, e.g. df= df.rename(.....)

In [84]:
df.rename(columns = {'date':'date_auth'},inplace = True)

df.tail() #shows the last 5 records

,auth_id,date_auth,customer_id,amount,date_claim,region,vulnerable_customer,notes
1703,9001701,14/08/2020,2212,37.38,NaN,East,False,NaN
1704,9001702,14/08/2020,1187,-7.79,NaN,London,False,NaN
1705,9001703,14/08/2020,2076,-13.82,NaN,East,False,NaN
1706,9001704,14/08/2020,2380,39.62,NaN,West,False,NaN
1707,9001705,14/08/2020,3980,10.56,30/08/2020,South,False,NaN

In [85]:
df.dtypes

auth_id                  int64
date_auth               object
customer_id              int64
amount                 float64
date_claim              object
region                  object
vulnerable_customer     object
notes                   object
dtype: object

In [86]:
for col in df.columns.to_list():
    if col[0:4]=="date":#
        print(col)
        df[col]=pd.to_datetime(df[col],format='%d/%m/%Y')
df.dtypes

date_auth
date_claim

auth_id                         int64
date_auth              datetime64[ns]
customer_id                     int64
amount                        float64
date_claim             datetime64[ns]
region                         object
vulnerable_customer            object
notes                          object
dtype: object

In [87]:
df[df["auth_id"]==9001703]

,auth_id,date_auth,customer_id,amount,date_claim,region,vulnerable_customer,notes
1705,9001703,2020-08-14,2076,-13.82,NaT,East,False,NaN

In [88]:

df.sort_values('date_auth', axis=0, ascending=False, inplace=True)
df[0:10]

,auth_id,date_auth,customer_id,amount,date_claim,region,vulnerable_customer,notes
1707,9001705,2020-08-14,3980,10.56,2020-08-30,South,False,NaN
1701,9001699,2020-08-14,1072,20.04,NaT,South,False,NaN
1695,9001693,2020-08-14,2368,64.27,2020-10-20,North,False,NaN
1696,9001694,2020-08-14,3583,-14.66,2020-09-21,East,False,NaN
1698,9001696,2020-08-14,2508,-28.21,2020-08-19,West,False,NaN
1699,9001697,2020-08-14,3441,12.01,NaT,West,False,NaN
1700,9001698,2020-08-14,2284,5.37,2020-10-20,North,False,NaN
1697,9001695,2020-08-14,3914,72.66,2020-11-09,London,False,NaN
1702,9001700,2020-08-14,3758,45.89,NaT,East,False,NaN
1703,9001701,2020-08-14,2212,37.38,NaT,East,False,NaN

In [89]:
df[['date_auth','amount']].groupby([df['date_auth'].dt.strftime('%Y%m')]).agg({'date_auth':['min','max']},{'amount':['sum']})

           date_auth
                 min        max
date_auth
202005    2020-05-19 2020-05-31
202006    2020-06-01 2020-06-30
202007    2020-07-01 2020-07-31
202008    2020-08-01 2020-08-14

In [90]:
df[(df.amount>100) & (df.date_auth.dt.month==5)]

,auth_id,date_auth,customer_id,amount,date_claim,region,vulnerable_customer,notes
206,9000207,2020-05-29,2398,104.12,2020-09-03,East,False,NaN
185,9000186,2020-05-28,1301,100.34,NaT,East,False,NaN

This is how you test for duplicates

In [91]:
df[df.auth_id.duplicated(keep=False)]

,auth_id,date_auth,customer_id,amount,date_claim,region,vulnerable_customer,notes
570,9000569,2020-06-17,3869,30.62,2020-07-13,East,False,NaN
571,9000569,2020-06-17,1121,-30.62,2020-09-11,East,False,NaN
404,9000403,2020-06-09,2436,10.70,2020-08-03,South,False,NaN
403,9000403,2020-06-09,1420,10.70,2020-07-13,South,False,NaN
333,9000333,2020-06-05,3050,24.31,2020-08-14,East,False,NaN
332,9000333,2020-06-05,3050,24.31,2020-08-14,East,False,NaN

This is not the best way to test for duplicates, but can do the trick

In [109]:
df2= df.groupby(["auth_id"] ).size().reset_index(name="count")
df2

      auth_id  count
0     9000001      1
1     9000002      1
2     9000003      1
3     9000004      1
4     9000005      1
...       ...    ...
1700  9001701      1
1701  9001702      1
1702  9001703      1
1703  9001704      1
1704  9001705      1

[1705 rows x 2 columns]

In [110]:
df2.sort_values('count', axis=0, ascending=False, inplace=True)
df2[0:10]

      auth_id  count
402   9000403      2
568   9000569      2
332   9000333      2
0     9000001      1
1136  9001137      1
1145  9001146      1
1144  9001145      1
1143  9001144      1
1142  9001143      1
1141  9001142      1

In [111]:
df2.to_excel("./output/101_Output_Grouped.xlsx", sheet_name='Grouped')