In [50]:
import random, csv
import datetime
from faker import Faker
from faker.providers import person
from faker.providers import address
from faker.providers import date_time
import  pandas as pd

In [70]:
def generate_customer_record(fake, id):
    d = dict()
    d['customer_id']=id
    d['gender'] = 'M' if random.randint(0,1) == 0 else 'F'
    d['first_name'] = fake.first_name_male() if d['gender']=='M' else fake.first_name_female()
    d['last_name'] = fake.last_name()
    d['dob'] = fake.date_between(start_date="-30y", end_date="-1d")
    d['address']= fake.street_address() 
    d['city']= fake.city()
    d['country']=fake.country()
    return d
def generate_policy_record(fake,customer_df):
    i=random.randint(0,df.shape[0])
    d=df.iloc[i].to_dict()
    d_enr = fake.date_between(start_date="-20y", end_date="now")
    d['enrollment_date']= d_enr
    d_ren_bom=datetime.date(datetime.datetime.today().year,d_enr.month,1)
    d_ren_eom=datetime.date(d_ren_bom.year + (d_ren_bom.month == 12), 
              (d_ren_bom.month + 1 if d_ren_bom.month < 12 else 1), 1) - datetime.timedelta(1)
    d['renewal_date']= d_ren_eom
    d['registration_id']='{:02d}'.format(random.randint(1,100)) +"-" +str(fake.ean(length=13))
    return d

In [71]:
datetime.datetime.today()

datetime.datetime(2020, 10, 8, 8, 11, 57, 780219)

In [72]:
fake = Faker()
fake.add_provider(person)
fake.add_provider(address)
fake.add_provider(date_time)

In [73]:
rec=generate_customer_record(fake,1)
rec

{'customer_id': 1,
 'gender': 'M',
 'first_name': 'Jared',
 'last_name': 'Thompson',
 'dob': datetime.date(2006, 6, 18),
 'address': '0589 Miller Brook Suite 846',
 'city': 'East Austinside',
 'country': 'Italy'}

In [79]:
df = pd.DataFrame()
number_of_records=1000
rec=[]
for i in range(number_of_records):
    rec.append(generate_customer_record(fake,i+1))
df = df.append(rec, ignore_index=True)
for i in range(20):
    record_to_delete=random.randint(1,number_of_records)
    df.drop(df.loc[df['customer_id']==record_to_delete].index, inplace=True)
df=df.reset_index(drop=True)
df.shape

(980, 8)

In [81]:
reg=generate_policy_record(fake, df)
reg

{'customer_id': 351,
 'gender': 'M',
 'first_name': 'John',
 'last_name': 'Michael',
 'dob': datetime.date(2010, 1, 28),
 'address': '79351 Welch Causeway Apt. 151',
 'city': 'Millerside',
 'country': 'United States Virgin Islands',
 'enrollment_date': datetime.date(2012, 1, 28),
 'renewal_date': datetime.date(2020, 1, 31),
 'registration_id': '73-2811956876278'}

In [82]:
df2 = pd.DataFrame()
number_of_records=1000
rec=[]
for i in range(number_of_records):
    rec.append(generate_policy_record(fake,df))
    
df2 = df2.append(rec, ignore_index=True)

In [83]:
df2

,customer_id,gender,first_name,last_name,dob,address,city,country,enrollment_date,renewal_date,registration_id
0,155,F,Laura,Bell,2011-02-26,721 Maria Views,Jamesstad,Somalia,2009-03-20,2020-03-31,91-8182741921324
1,142,F,Rose,Harris,1992-10-23,9547 Derek Orchard,New Margaret,Grenada,2009-07-17,2020-07-31,73-6733624268771
2,701,F,Amy,Cohen,2001-07-23,26999 Sullivan Port Suite 816,South Katrina,Chad,2016-06-23,2020-06-30,22-5598845510297
3,562,M,Kenneth,Hughes,1994-06-23,5117 Lewis Camp Apt. 846,Port Donnaton,Isle of Man,2011-06-05,2020-06-30,24-5122864522599
4,670,F,Amanda,Wyatt,2017-06-19,861 Meagan Springs,Phillipview,Myanmar,2017-07-19,2020-07-31,88-4438447775896
...,...,...,...,...,...,...,...,...,...,...,...
995,928,F,Carolyn,Hernandez,2004-11-27,40054 Billy Hills,Taraburgh,Djibouti,2011-07-20,2020-07-31,50-7233207592983
996,734,F,Molly,Lopez,2017-07-29,541 Carson River,West Virginia,Cambodia,2019-07-03,2020-07-31,40-1011325584754
997,485,F,Debra,Webster,2015-01-03,972 Janice Plains,Port Gloria,Chile,2014-08-02,2020-08-31,80-8988164184502
998,262,F,Stephanie,Schroeder,2003-02-23,87968 Trujillo Light Suite 678,New Karen,Ghana,2006-12-28,2020-12-31,81-0361012356685
999,963,F,Natasha,Hall,2001-04-30,527 Jeffrey Light Suite 536,Lake Sharon,Kazakhstan,2006-01-23,2020-01-31,47-4524223833468

In [84]:
df.to_excel("./test_data/data_customer.xlsx")

In [86]:
df2.to_excel('./test_data/data_contract.xlsx')