In [1]:
import random, csv
from datetime import timedelta, datetime
from faker import Faker
from faker.providers import person
from faker.providers import address
from faker.providers import date_time
import  pandas as pd

In [4]:
def generate_customer_record(fake, id):
    d = dict()
    d['customer_id']=id
    d['gender'] = 'M' if random.randint(0,1) == 0 else 'F'
    d['first_name'] = fake.first_name_male() if d['gender']=='M' else fake.first_name_female()
    d['last_name'] = fake.last_name()
    d['dob'] = fake.date_between(start_date="-99y", end_date="-1d")
    d['address']= fake.street_address() +', '+ fake.city()+ ', '+ fake.country()
    return d
   
def generate_policy_record(fake,id, customer_dict):
    d=customer_dict
    d['renewal_date']="pending make a calculation of DOY of enrollment applied to this year"
    d['enrollment_date']= fake.date_between(start_date="-20y", end_date="now")
    d['registration_id']='{:02d}'.format(random.randint(1,100)) +"-" +str(fake.ean(length=13))
    return d

In [5]:
fake = Faker()
fake.add_provider(person)
fake.add_provider(address)
fake.add_provider(date_time)

In [6]:
rec=generate_customer_record(fake,1)
rec

{'customer_id': 1,
 'gender': 'F',
 'first_name': 'Karen',
 'last_name': 'Evans',
 'dob': datetime.date(1943, 4, 17),
 'address': '732 Patton Knoll, Port David, Jersey'}

In [7]:
df = pd.DataFrame()
number_of_records=1000
for i in range(number_of_records):
    rec=generate_customer_record(fake,i+1)
    df = df.append(rec, ignore_index=True)
for i in range(20):
    record_to_delete=random.randint(1,number_of_records)
    df.drop(df.loc[df['customer_id']==record_to_delete].index, inplace=True)
df=df.reset_index(drop=True)
df.shape

(980, 6)

In [8]:
df

,address,customer_id,dob,first_name,gender,last_name
0,"0142 Powell Ford, Marshalltown, Tanzania",1.0,1995-07-17,Dawn,F,Washington
1,"7401 Jodi Shoal, Jessicastad, Denmark",2.0,1922-12-18,David,M,Nelson
2,"058 Joshua Squares Suite 723, Timothyton, Hear...",3.0,1974-01-21,Nancy,F,Abbott
3,"16832 Brent Trafficway Apt. 200, Rosschester, ...",4.0,1982-03-16,Elizabeth,F,Stewart
4,"8242 Kevin Camp Suite 952, Russellshire, Israel",5.0,1935-06-11,Ryan,M,Cooper
...,...,...,...,...,...,...
975,"908 Watson Lake Apt. 888, Port Susanland, Holy...",996.0,1960-08-12,Christopher,M,Donovan
976,"2528 Pierce Brook Apt. 710, North Andrewmouth,...",997.0,1966-11-01,Nancy,F,Kelly
977,"23407 Howell Creek Apt. 121, West Luisville, T...",998.0,1963-06-10,Melissa,F,King
978,"17122 Floyd Hill Suite 266, South Julie, Venez...",999.0,1945-06-20,Kristin,F,Horton
979,"3961 Derrick Harbor, South Ernest, British Ind...",1000.0,2005-11-12,Laura,F,Ingram

In [10]:
df.to_excel("./data.xlsx")