# Python 100 - the very basics

In [73]:
print("Hello, World, Python's friends")

Hello, World, Python"s friends

In [5]:
input_path='/mnt/live/int_audit/'
input_path='./input/'
output_path='./output/'

In [15]:
files=["data.xlsx", 'data.xlsx']

In [16]:
files[1]

'data.xlsx'

In [17]:
for f in files:
    print (input_path+f)

./test_data/data.xlsx
./test_data/data.xlsx

In [18]:
for i, f in enumerate(files):
    files[i]=input_path+f
print(i," files processed")
print(files)

1  files processed
['./test_data/data.xlsx', './test_data/data.xlsx']

In [10]:
from datetime import datetime
print(datetime.now())

2021-06-30 06:30:47.261850

In [11]:
import pandas as pd

In [27]:
df= pd.read_excel('./test_data/data.xlsx')
df.shape

(1708, 8)

In [28]:
df.head() # df.info()  df.shape  df.tail()

,Auth_ID,Date Authorisation,Cust ID,Amount,Date Procedure,Region,Vulnerable,Notes
0,9000001,2020-05-19 10:24:41.740,3710,9.11,2020-06-12 10:24:41.740,London,False,"Test of delimiter, this should be kept all tog..."
1,9000002,2020-05-19 11:49:24.093,3378,11.65,2020-07-21 11:49:24.093,West,False,NaN
2,9000003,2020-05-19 13:09:24.093,1963,13.52,2020-06-21 13:09:24.093,West,False,NaN
3,9000004,2020-05-19 13:40:02.391,3565,77.57,2020-05-23 13:40:02.391,East,False,NaN
4,9000005,2020-05-19 15:00:02.391,2249,21.37,2020-07-26 15:00:02.391,East,False,Customer may be vulnerable

In [21]:
df2=pd.DataFrame()
for f in files:
    s=pd.read_excel(f)
    df2=df2.append(s, sort=False)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3416 entries, 0 to 1707
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Auth_ID             3416 non-null   int64
 1   Date Authorisation  3414 non-null   datetime64[ns]
 2   Cust ID             3416 non-null   int64
 3   Amount              3416 non-null   float64
 4   Date Procedure      3356 non-null   datetime64[ns]
 5   Region              3414 non-null   object
 6   Vulnerable          3366 non-null   object
 7   Notes               8 non-null      object
dtypes: datetime64[ns](2), float64(1), int64(2), object(3)
memory usage: 240.2+ KB

In [26]:
round(sum(df['Amount']))/len(df['Amount'])

29.85304449648712

In [1]:
max(df.Amount)

126.47

In [55]:
df.columns=[str.lower(x) for x in df.columns]
df.columns=[x.replace(" ","_") for x in df.columns]
df.columns

Index(['auth_id', 'date_authorisation', 'cust_id', 'amount', 'date_procedure',
       'region', 'vulnerable', 'notes', 'in_scope'],
      dtype='object')

In [33]:
df[['auth_id','region']].groupby('region').agg(len)

        auth_id
region
East        353
London      312
North       356
South       332
West        354

In [36]:
df[['region','auth_id']].groupby('region').agg([sum,len])

           auth_id
               sum  len
region
East    3177278982  353
London  2808269763  312
North   3204314383  356
South   2988285054  332
West    3186307461  354

In [50]:
df['in_scope']= (df['region']=='East') | (df['region']=='West')
sum(df.in_scope)

707

In [54]:
df[df['in_scope']][['auth_id','region']].groupby('region').agg([sum,len])
df[df['in_scope']].groupby('region').agg([sum,len,'count'])

           auth_id            cust_id       ... vulnerable       in_scope
               sum  len count     sum  len  ...        len count      sum  len count
region                                      ...
East    3177278982  353   353  885948  353  ...        353   345    353.0  353   353
West    3186307461  354   354  878946  354  ...        354   346    354.0  354   354

[2 rows x 15 columns]

In [1]:
import pathlib
pathlib.Path('./test_data').mkdir(parents=True, exist_ok=True)
pathlib.Path('./output').mkdir(parents=True, exist_ok=True)

In [59]:
import numpy as np
dft = pd.DataFrame({'a':[0,0,1,2,2,2], 'b':[1,2,3,4,np.NaN,4], 'c':np.random.randn(6)})
dft

   a    b         c
0  0  1.0 -0.819632
1  0  2.0 -0.413270
2  1  3.0  1.617286
3  2  4.0  0.485451
4  2  NaN -1.189289
5  2  4.0 -0.806330

In [61]:
print(dft.groupby(['a'])['b'].count())
print(dft.groupby(['a'])['b'].size())
print(dft.groupby(['a'])['b'].agg(len))

a
0    2
1    1
2    2
Name: b, dtype: int64
a
0    2
1    1
2    3
Name: b, dtype: int64
a
0    2.0
1    1.0
2    3.0
Name: b, dtype: float64