In [17]:
import pandas as pd
import os 
from time import gmtime, strftime
import datetime
import xlrd

C:\dev\ipython\read_excel

In [18]:
xlsfile=os.getcwd() + r'\testdata\test2.xlsx'
print xlsfile
df = pd.DataFrame([])

ts= strftime("%Y-%m-%d %H:%M:%S")

book = xlrd.open_workbook(xlsfile)
n= book.nsheets
print n

C:\dev\ipython\read_excel\testdata\test2.xlsx
3

In [19]:
input_frames=[]
for x in range(0, n-1):
    sh=book.sheet_by_index(x)
    cellA1= sh.cell_value(0,0)
    print cellA1
    print "Processing sheet " + book.sheet_names()[x]
    if cellA1=="Name":
         
        
        num_cols = sh.ncols   # Number of columns
        num_rows = sh.nrows
        print num_cols, num_rows
        data=[]
        for row_idx in range(0, num_rows):    # Iterate through rows use sh.nrows for all rows    
            row_data=[]
            for col_idx in range(0, num_cols-1):  # Iterate through columns
                
                
                
                cell_obj = sh.cell(row_idx, col_idx)  # Get cell object by row, col
                cell_value= cell_obj.value
                cell_type = sh.cell_type(row_idx, col_idx)
                
                if cell_type == xlrd.XL_CELL_DATE:
                    get_col= xlrd.xldate.xldate_as_datetime (cell_value, book.datemode)
                elif cell_type == xlrd.XL_CELL_NUMBER:
                    get_col = int(cell_value)
                else:
                    get_col = unicode(cell_value)
               
                row_data.append(get_col)
            data.append(row_data)

        frame=pd.DataFrame(data[1:],columns=data[0])
        #We add here a column for the source sheet and a timestamp
        frame["SourceSheet"]=sh.name
        frame["Timestamp"]= ts
        input_frames.append (frame)

Name
Processing sheet Expenses1
8 700000
Name
Processing sheet Expenses2
8 800000

In [20]:
#Here we concatenate the multiple dataframes we created , one per sheet
# the ignore_index option is so that the main index is recreated so each row will have a unique ID 
if len(input_frames) >0:   
    df = pd.concat(input_frames, ignore_index=True)
print "Top 10 records"
print df[0:10]

Top 10 records
      Name  Expenses       Date  \
0     Juan       351 2015-11-03
1  Aleksei      3134 2015-11-07
2     Arne      2619 2015-04-06
3    Hiten      2654 2015-10-17
4   Najwan      2905 2015-05-31
5  Aleksei      1322 2015-05-10
6      Guy       199 2015-12-10
7    Sarah       964 2015-12-18
8   Vishal      3123 2015-10-10
9     Amit      3198 2015-08-04

                                         Description Approval date_approval  \
0  m nonumy civibus. Eum possim tincidunt necessi...     fese    2015-11-30
1   suas viderer alterum an vim. Ei mucius theoph...     arty    2015-12-06
2  onumy ut quo, mei ei adhuc erant dicant. Ex vi...     hyde    2015-05-06
3  ulis deseruisse pro id, dico accusamus te mei....     wart    2015-11-16
4  mus te mei. Ad diam modus mea. Soleat qualisqu...     dewa    2015-06-21
5  ro primis feugiat id, conceptam reprimique lib...     erty    2015-05-28
6   ignota vivendum cum, ea possim reprimique cum...     rete    2015-12-27
7  ut. Sit dicant scripserit ne, iudico forensibu...     usde    2016-01-03
8  atibus at. Pro primis feugiat id, conceptam re...     tesi    2015-11-02
9  m ius, pro id diam nonumy civibus. Eum possim ...     horu    2015-08-20

    Date_pay SourceSheet            Timestamp
0 2015-12-17   Expenses1  2015-12-23 14:15:29
1 2015-12-21   Expenses1  2015-12-23 14:15:29
2 2015-05-24   Expenses1  2015-12-23 14:15:29
3 2015-12-02   Expenses1  2015-12-23 14:15:29
4 2015-07-11   Expenses1  2015-12-23 14:15:29
5 2015-06-16   Expenses1  2015-12-23 14:15:29
6 2016-01-16   Expenses1  2015-12-23 14:15:29
7 2016-01-21   Expenses1  2015-12-23 14:15:29
8 2015-11-19   Expenses1  2015-12-23 14:15:29
9 2015-09-09   Expenses1  2015-12-23 14:15:29

In [21]:
print "Record count (non null):"
print df.count()
print "Min value:"+ str(df["Expenses"].max())
print "Max value:" + str(df["Expenses"].min())
df.dtypes

Record count (non null):
Name             1499998
Expenses         1499998
Date             1499998
Description      1499998
Approval         1499998
date_approval    1499998
Date_pay         1499998
SourceSheet      1499998
Timestamp        1499998
dtype: int64
Min value:15000
Max value:-444

Name                     object
Expenses                  int64
Date             datetime64[ns]
Description              object
Approval                 object
date_approval    datetime64[ns]
Date_pay         datetime64[ns]
SourceSheet              object
Timestamp                object
dtype: object

In [22]:
# This is an optional command to set the index, if we had some column that can act as index, otherwise, we get the default row number  on import
#df.set_index("Name", inplace=True, drop=False)

In [23]:
#Now we operate on the DF
dupli_df= df[df.duplicated(['Name','Date', 'Expenses',"Date_pay", "Description", "Approval"], keep=False)].sort_values(by=["Expenses"])
print len(dupli_df)
print  dupli_df[0:100]

506
            Name  Expenses       Date  \
486090    Joanna        39 2015-08-13
1418995  Stephan        40 2015-04-27
1055103  Aleksei        54 2015-10-19
105866   Stephen        63 2015-07-22
1323067     Arne        64 2015-02-10
1175076  Stephen        79 2015-08-26
677047     Sarah        82 2015-05-17
446914     Anshu        83 2015-01-13
1207469   Vishal        85 2015-03-07
825530    Roshan       104 2015-04-08
1344971  Stephen       106 2015-01-11
458323    Vishal       109 2015-11-14
609535     Sarah       115 2015-03-21
234363    Joanna       119 2015-11-27
1142575    Robin       121 2015-03-02
1418622     Arne       136 2015-06-24
1397773   Roshan       136 2015-07-18
791716     Sarah       148 2015-03-15
17648        Guy       165 2015-01-02
787968     Hiten       183 2015-10-25
1451220     Arne       206 2016-01-01
379371     Sarah       226 2015-03-19
212852      Amit       233 2015-07-04
862208     Sarah       234 2015-07-29
1471752    Robin       246 2015-08-09
510710      Juan       257 2015-10-03
1351641   Vishal       268 2015-05-25
610749      Amit       282 2015-12-23
1004322    Hiten       300 2015-10-27
756375     Sarah       301 2015-12-22
...          ...       ...        ...
177672       Guy       630 2015-05-29
418250     Robin       637 2015-05-28
101168      Amit       639 2015-02-16
158349   Stephen       662 2015-11-01
293833     Sarah       689 2015-12-29
323996   Aleksei       698 2015-05-13
263627    Joanna       700 2015-06-25
274966     Craig       707 2015-11-14
1261875  Matthew       707 2015-11-12
173172   Stephan       748 2015-04-30
748501   Matthew       753 2015-08-09
945418    Roshan       755 2015-12-20
87963      Robin       762 2015-10-03
1217151   Najwan       766 2015-10-01
1447457   Vishal       793 2015-06-10
316800      Paul       794 2015-01-03
1303535  Stephan       801 2015-03-28
379878   Aleksei       811 2015-07-28
663552       Guy       812 2015-06-13
371665      Juan       816 2015-10-06
321782     Hiten       818 2015-11-22
798588     Sarah       838 2015-02-19
185178   Stephen       839 2015-05-12
246903     Anshu       841 2015-07-01
699115     Sarah       844 2015-05-11
308661     Hiten       855 2015-08-29
1471163    Robin       860 2015-04-23
652645   Aleksei       879 2015-08-27
1435444    Robin       886 2015-04-17
625387    Vishal       889 2015-01-18

                                               Description Approval  \
486090    te lucilius assentior. Eum et erant utamur. T...     sewe
1418995   te lucilius assentior. Eum et erant utamur. T...     tefe
1055103  ntior. Eum et erant utamur. Te aperiri sadipsc...     etes
105866    reprimique liberavisse ei has, ut duo prima d...     ydet
1323067  vituperatoribus te. Magna nostrum pericula an ...     rtym
1175076  ceptam reprimique liberavisse ei has, ut duo p...     rtyp
677047   m dolor sit amet, eu sint antiopam ius, pro id...     rtym
446914   inati cum. Menandri dissentiunt pri ad. Harum ...     etho
1207469  lis deseruisse pro id, dico accusamus te mei. ...     leth
825530    vix, ad choro ignota vivendum cum, ea possim ...     etho
1344971  eruisse pro id, dico accusamus te mei. Ad diam...     sewe
458323   lutpat complectitur ut. Sit dicant scripserit ...     erty
609535   rentur ius ei, pri erant dolorem vituperatorib...     sewe
234363   onderum prodesset pri. Quas nonumy ut quo, mei...     ymus
1142575  um possim tincidunt necessitatibus at. Pro pri...     yple
1418622  vendum cum, ea possim reprimique cum. An suas ...     etes
1397773  uo, suas viderer alterum an vim. Ei mucius the...     fese
791716   . Ad diam modus mea. Soleat qualisque has cu, ...     usde
17648    ea possim reprimique cum. An suas illud nomina...     idur
787968   entur ius ei, pri erant dolorem vituperatoribu...     tefe
1451220  umo ocurreret duo ne, est facer dictas mediocr...     ethe
379371   conceptam reprimique liberavisse ei has, ut du...     ethe
212852   or sit amet, eu sint antiopam ius, pro id diam...     ewee
862208   in, cum ad probo porro elaboraret. Cibo vivend...     esid
1471752  ncidunt necessitatibus at. Pro primis feugiat ...     usde
510710   Harum labitur evertitur id duo, duis eloquenti...     rtyp
1351641   ignota vivendum cum, ea possim reprimique cum...     horu
610749    forensibus referrentur ius ei, pri erant dolo...     ymus
1004322  bus referrentur ius ei, pri erant dolorem vitu...     ethe
756375   am nonumy civibus. Eum possim tincidunt necess...     rete
...                                                    ...      ...
177672   assentior. Eum et erant utamur. Te aperiri sad...     ugun
418250   ea, periculis deseruisse pro id, dico accusamu...     efes
101168   uas nonumy ut quo, mei ei adhuc erant dicant. ...     leth
158349    scripserit ne, iudico forensibus referrentur ...     ethe
293833   or sit amet, eu sint antiopam ius, pro id diam...     reth
323996   iocritatem in, cum ad probo porro elaboraret. ...     tesi
263627   Quas nonumy ut quo, mei ei adhuc erant dicant....     wart
274966   unt necessitatibus at. Pro primis feugiat id, ...     plet
1261875  Pro primis feugiat id, conceptam reprimique li...     esid
173172    vivendum duo ea, periculis deseruisse pro id,...     phyd
748501   seruisse pro id, dico accusamus te mei. Ad dia...     horu
945418   opam ius, pro id diam nonumy civibus. Eum poss...     rugu
87963    diam nonumy civibus. Eum possim tincidunt nece...     erty
1217151  uas nonumy ut quo, mei ei adhuc erant dicant. ...     sdew
1447457  ant dolorem vituperatoribus te. Magna nostrum ...     thor
316800   mediocritatem in, cum ad probo porro elaborare...     horu
1303535  mur. Te aperiri sadipscing ius, cum ad legere ...     etes
379878    antiopam ius, pro id diam nonumy civibus. Eum...     etes
663552   t complectitur ut. Sit dicant scripserit ne, i...     wart
371665   diam modus mea. Soleat qualisque has cu, vel t...     rugu
321782    sensibus vituperatoribus vis an. Ut labore po...     rete
798588   r ut. Sit dicant scripserit ne, iudico forensi...     ugun
185178    ius ei, pri erant dolorem vituperatoribus te....     idur
246903   ocurreret duo ne, est facer dictas mediocritat...     rete
699115   elaboraret his no, ius volutpat complectitur u...     musd
308661   titur ut. Sit dicant scripserit ne, iudico for...     sdew
1471163  iam mea an. His porro appetere euripidis an, b...     ewee
652645   t necessitatibus at. Pro primis feugiat id, co...     ymus
1435444  r. Te aperiri sadipscing ius, cum ad legere po...     tefe
625387   culis deseruisse pro id, dico accusamus te mei...     leth

        date_approval   Date_pay SourceSheet            Timestamp
486090     2015-08-29 2015-09-16   Expenses1  2015-12-23 14:15:29
1418995    2015-05-13 2015-05-28   Expenses2  2015-12-23 14:15:29
1055103    2015-11-11 2015-11-28   Expenses2  2015-12-23 14:15:29
105866     2015-08-20 2015-09-05   Expenses1  2015-12-23 14:15:29
1323067    2015-03-01 2015-03-18   Expenses2  2015-12-23 14:15:29
1175076    2015-09-17 2015-10-04   Expenses2  2015-12-23 14:15:29
677047     2015-06-06 2015-06-25   Expenses1  2015-12-23 14:15:29
446914     2015-02-07 2015-02-24   Expenses1  2015-12-23 14:15:29
1207469    2015-04-02 2015-04-17   Expenses2  2015-12-23 14:15:29
825530     2015-04-26 2015-05-15   Expenses2  2015-12-23 14:15:29
1344971    2015-02-08 2015-02-23   Expenses2  2015-12-23 14:15:29
458323     2015-12-03 2015-12-21   Expenses1  2015-12-23 14:15:29
609535     2015-04-05 2015-04-25   Expenses1  2015-12-23 14:15:29
234363     2015-12-17 2016-01-03   Expenses1  2015-12-23 14:15:29
1142575    2015-03-31 2015-04-20   Expenses2  2015-12-23 14:15:29
1418622    2015-07-16 2015-08-03   Expenses2  2015-12-23 14:15:29
1397773    2015-08-12 2015-08-31   Expenses2  2015-12-23 14:15:29
791716     2015-04-01 2015-04-18   Expenses2  2015-12-23 14:15:29
17648      2015-01-23 2015-02-09   Expenses1  2015-12-23 14:15:29
787968     2015-11-23 2015-12-13   Expenses2  2015-12-23 14:15:29
1451220    2016-01-20 2016-02-09   Expenses2  2015-12-23 14:15:29
379371     2015-04-06 2015-04-23   Expenses1  2015-12-23 14:15:29
212852     2015-07-31 2015-08-19   Expenses1  2015-12-23 14:15:29
862208     2015-08-20 2015-09-09   Expenses2  2015-12-23 14:15:29
1471752    2015-08-30 2015-09-17   Expenses2  2015-12-23 14:15:29
510710     2015-10-28 2015-11-15   Expenses1  2015-12-23 14:15:29
1351641    2015-06-11 2015-07-01   Expenses2  2015-12-23 14:15:29
610749     2016-01-20 2016-02-06   Expenses1  2015-12-23 14:15:29
1004322    2015-11-24 2015-12-11   Expenses2  2015-12-23 14:15:29
756375     2016-01-14 2016-02-01   Expenses2  2015-12-23 14:15:29
...               ...        ...         ...                  ...
177672     2015-06-21 2015-07-08   Expenses1  2015-12-23 14:15:29
418250     2015-06-18 2015-07-04   Expenses1  2015-12-23 14:15:29
101168     2015-03-17 2015-04-04   Expenses1  2015-12-23 14:15:29
158349     2015-11-20 2015-12-08   Expenses1  2015-12-23 14:15:29
293833     2016-01-16 2016-02-04   Expenses1  2015-12-23 14:15:29
323996     2015-06-05 2015-06-25   Expenses1  2015-12-23 14:15:29
263627     2015-07-19 2015-08-06   Expenses1  2015-12-23 14:15:29
274966     2015-12-01 2015-12-17   Expenses1  2015-12-23 14:15:29
1261875    2015-12-02 2015-12-18   Expenses2  2015-12-23 14:15:29
173172     2015-05-21 2015-06-09   Expenses1  2015-12-23 14:15:29
748501     2015-08-26 2015-09-12   Expenses2  2015-12-23 14:15:29
945418     2016-01-17 2016-02-01   Expenses2  2015-12-23 14:15:29
87963      2015-10-26 2015-11-14   Expenses1  2015-12-23 14:15:29
1217151    2015-10-29 2015-11-14   Expenses2  2015-12-23 14:15:29
1447457    2015-07-08 2015-07-26   Expenses2  2015-12-23 14:15:29
316800     2015-02-01 2015-02-19   Expenses1  2015-12-23 14:15:29
1303535    2015-04-14 2015-04-30   Expenses2  2015-12-23 14:15:29
379878     2015-08-22 2015-09-08   Expenses1  2015-12-23 14:15:29
663552     2015-07-08 2015-07-23   Expenses1  2015-12-23 14:15:29
371665     2015-10-25 2015-11-14   Expenses1  2015-12-23 14:15:29
321782     2015-12-12 2016-01-01   Expenses1  2015-12-23 14:15:29
798588     2015-03-12 2015-03-31   Expenses2  2015-12-23 14:15:29
185178     2015-06-01 2015-06-20   Expenses1  2015-12-23 14:15:29
246903     2015-07-25 2015-08-12   Expenses1  2015-12-23 14:15:29
699115     2015-06-06 2015-06-23   Expenses1  2015-12-23 14:15:29
308661     2015-09-19 2015-10-09   Expenses1  2015-12-23 14:15:29
1471163    2015-05-17 2015-06-04   Expenses2  2015-12-23 14:15:29
652645     2015-09-25 2015-10-12   Expenses1  2015-12-23 14:15:29
1435444    2015-05-08 2015-05-25   Expenses2  2015-12-23 14:15:29
625387     2015-02-03 2015-02-22   Expenses1  2015-12-23 14:15:29

[100 rows x 9 columns]

In [24]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
try:
    os.remove('testdata/test2_duplicates.xlsx')
    writer = pd.ExcelWriter('testdata/test2_duplicates.xlsx', engine='xlsxwriter')
    dupli_df.to_excel(writer, sheet_name='Sheet1')
except:
    print "error creating/saving excel file"