In [43]:
import pandas as pd
import glob # used to read file directories, there are alternatives: pathlib.Path.rglob or os.walk

In [44]:
def load_xls_from_dir(path):
    files= glob.glob(path, recursive=True)
    df= pd.DataFrame()
    for f in files:
        #Option 1: read just the first sheet of book
        #data=pd.read_excel(f) 
        #df=df.append(data, sort=False)
        #Option 2: loop through each tab in each workbook and add id fields
        xl = pd.ExcelFile(f)
        for s in xl.sheet_names:
            data=xl.parse(s)
            data["ori_file"]= f
            data["ori_sheet"]=s
            df=df.append(data, sort=False)
    return df

In [47]:
df= load_xls_from_dir("./test_data/batch/*.xlsx")

In [48]:
df.columns=[x.lower() for x in df.columns.to_list()]
df.columns=df.columns.str.replace(' ','_')
df.head()

,customer_id,date,transaction_id,amount,result,ori_file,ori_sheet
0,150496,2020-01-01,1,682.0,Authorised,./test_data/batch\Q1.xlsx,Jan
1,464857,2020-01-01,2,5386.0,Authorised,./test_data/batch\Q1.xlsx,Jan
2,68468,2020-01-01,3,26014.0,Authorised,./test_data/batch\Q1.xlsx,Jan
3,243698,2020-01-01,4,6400.0,Authorised,./test_data/batch\Q1.xlsx,Jan
4,45755,2020-01-01,5,29706.0,Authorised,./test_data/batch\Q1.xlsx,Jan

In [50]:
df.sort_values('amount', axis=0, ascending=True)

,customer_id,date,transaction_id,amount,result,ori_file,ori_sheet
31,94819,2020-02-01,1983,-5000.0,Authorised,./test_data/batch\Q1.xlsx,Feb
910,49009,2020-02-29,4743,1.0,Authorised,./test_data/batch\Q1.xlsx,Mar
1437,441895,2020-02-15,3389,1.0,Authorised,./test_data/batch\Q1.xlsx,Feb
1496,76082,2020-05-31,11505,11.0,Authorised,./test_data/batch\Q2.xlsx,June
1579,496898,2020-05-31,11588,12.0,Authorised,./test_data/batch\Q2.xlsx,June
...,...,...,...,...,...,...,...
26,55659,2020-04-02,5792,39990.0,Authorised,./test_data/batch\Q2.xlsx,April
456,230909,2020-02-05,2408,39992.0,Authorised,./test_data/batch\Q1.xlsx,Feb
1851,304071,2020-02-19,3803,39999.0,Authorised,./test_data/batch\Q1.xlsx,Feb
1950,183416,2020-01-31,1951,NaN,Rejected,./test_data/batch\Q1.xlsx,Jan
2277,473903,2020-05-27,10008,NaN,Authorised,./test_data/batch\Q2.xlsx,May

In [51]:
df.sort_values('date', axis=0, ascending=False, inplace=True)
df[0:10]

,customer_id,date,transaction_id,amount,result,ori_file,ori_sheet
2148,396760,2020-05-31,12157,8748.0,Authorised,./test_data/batch\Q2.xlsx,June
946,493002,2020-05-31,10955,610.0,Authorised,./test_data/batch\Q2.xlsx,June
858,30394,2020-05-31,10867,6823.0,Authorised,./test_data/batch\Q2.xlsx,June
859,422636,2020-05-31,10868,23120.0,Authorised,./test_data/batch\Q2.xlsx,June
860,429733,2020-05-31,10869,17023.0,Authorised,./test_data/batch\Q2.xlsx,June
861,195961,2020-05-31,10870,12496.0,Authorised,./test_data/batch\Q2.xlsx,June
862,348365,2020-05-31,10871,34061.0,Authorised,./test_data/batch\Q2.xlsx,June
863,95928,2020-05-31,10872,22681.0,Authorised,./test_data/batch\Q2.xlsx,June
864,164313,2020-05-31,10873,4609.0,Authorised,./test_data/batch\Q2.xlsx,June
865,185793,2020-05-31,10874,11432.0,Authorised,./test_data/batch\Q2.xlsx,June

Lets look for some duplicates

In [55]:
df[df.duplicated(keep=False)] # first full record

,customer_id,date,transaction_id,amount,result,ori_file,ori_sheet
20,209024,2020-05-01,7752,15583.0,Authorised,./test_data/batch\Q2.xlsx,May
21,209024,2020-05-01,7752,15583.0,Authorised,./test_data/batch\Q2.xlsx,May

In [56]:
df[df.transaction_id.duplicated(keep=False)] # transaction id

,customer_id,date,transaction_id,amount,result,ori_file,ori_sheet
19,339698,2020-05-01,7752,10957.0,Authorised,./test_data/batch\Q2.xlsx,May
20,209024,2020-05-01,7752,15583.0,Authorised,./test_data/batch\Q2.xlsx,May
21,209024,2020-05-01,7752,15583.0,Authorised,./test_data/batch\Q2.xlsx,May

In [57]:
df2= df[df[["amount","customer_id"]].duplicated(keep=False)] # transaction id
df2

,customer_id,date,transaction_id,amount,result,ori_file,ori_sheet
20,209024,2020-05-01,7752,15583.0,Authorised,./test_data/batch\Q2.xlsx,May
21,209024,2020-05-01,7752,15583.0,Authorised,./test_data/batch\Q2.xlsx,May

In [58]:
df2.to_excel("output/101_Output_Exceptions.xlsx", sheet_name='Duplicates')