In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("data.xlsx")

In [3]:
df.head()

   id  line  account date_trans date_entry dc    amount  seed
0   1     1       18 2020-07-01 2020-07-04  C -34278.37     0
1   1     2        6 2020-07-01 2020-07-04  D  26341.71     0
2   1     3       17 2020-07-01 2020-07-04  D   7936.66     0
3   2     1       16 2020-07-02 2020-07-04  C -11525.70     0
4   2     2        1 2020-07-02 2020-07-04  D  11525.70     0