In [2]:
import  pandas as pd
import random, csv
from datetime import timedelta, datetime
from faker import Faker
from faker.providers import person
from faker.providers import address
from faker.providers import date_time

In [6]:
def generate_record(fake):
    d = dict()
    d['customer_id']=
    d['gender'] = 'M' if random.randint(0,1) == 0 else 'F'
    d['first_name'] = fake.first_name_male() if d['gender']=='M' else fake.first_name_female()
    d['last_name'] = fake.last_name()
    d['dob'] = fake.date_between(start_date="-50y", end_date="-1d")
    d['enrollment_date']= fake.date_between(start_date="-20y", end_date="now")
    d['city']= fake.city()
    d['country']= fake.country() 
    d['residential Address']= fake.street_address()
    d['renewal_date']=fake.date_between(start_date="now", end_date="+12M")
    d['member_id']='{:03d}'.format(random.randint(1,300)) +"-" +str(fake.ean(length=8))
    d['registration_id']='{:02d}'.format(random.randint(1,100)) +"-" +str(fake.ean(length=13))
    return d


fake = Faker()
fake.add_provider(person)
fake.add_provider(address)
fake.add_provider(date_time)
output = pd.DataFrame()
for i in range(10000):
    rec=generate_record(fake)
    output = output.append(rec, ignore_index=True)

In [7]:
output.head()

,city,country,customer_id,dob,enrollment_date,first_name,gender,last_name,member_id,registration_id,renewal_date,residential Address
0,Porterchester,Comoros,<built-in function id>,2008-06-28,2015-03-12,Shawn,M,Evans,172-00958844,21-1497973855284,2020-12-18,464 Jeffrey Ranch Suite 718
1,Beasleyshire,Qatar,<built-in function id>,2020-01-17,2015-11-17,Wendy,F,Velasquez,299-28180920,64-9571936904508,2021-01-06,0946 Evans Curve Suite 164
2,North Nathanshire,Guinea,<built-in function id>,2011-09-28,2007-09-25,Shawn,M,Lambert,023-89320372,36-3370377739030,2021-05-17,320 Berg Drive
3,New Carrieland,Slovenia,<built-in function id>,1996-09-07,2008-01-31,Brandon,M,Reyes,166-62683609,99-0103748041738,2021-09-09,2066 Denise Trace Apt. 686
4,New Wayne,Bolivia,<built-in function id>,1983-02-25,2018-08-23,Vincent,M,Campbell,226-34926062,47-0434547325164,2021-03-07,154 Albert Crossroad Suite 722

In [82]:
output.to_excel("./test_data/data.xlsx")