In [1]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import numpy as np
try:
    import os
    os.mkdir("./output/")
except:
    pass # do nothing

In [2]:
df= pd.read_excel("./test_data/data.xlsx", sheet_name="Sheet1")
print(df.shape) # "Shape" shows count of columns and rows

(10000, 13)

In [3]:
df.columns

Index(['Unnamed: 0', 'customer_id', 'gender', 'first_name', 'last_name', 'dob',
       'date_enrollment', 'city', 'country', 'residential address',
       'date_renewal', 'lifetime_id', 'registration_id'],
      dtype='object')

This is to replace "NAN" values with a string, helps with some of the formulae later on

In [23]:

df.fillna("", inplace=True)
df.drop(df.columns[0],axis=1,inplace=True)

In [24]:
df_duplicates = df[df.duplicated(['customer_id'],keep=False)]
df_duplicates

      customer_id gender  ...   lifetime_id   registration_id
109           111      M  ...  197-23090224  67-9277168360463
110           111      M  ...  197-23090224  75-6686163512327
156           157      M  ...  299-86598910  53-5586714180214
157           157      M  ...  299-86598910  20-7788662590413
189           190      F  ...  207-64044767  92-5307580979838
...           ...    ...  ...           ...               ...
9123         9122      M  ...  282-98475483  79-7823117485163
9433         9432      M  ...  243-02521169  52-4621483801579
9434         9432      M  ...  243-02521169  80-3034137634095
9697         9698      M  ...  018-66699972  55-3815862490039
9698         9698      M  ...  018-66699972  55-3815862490039

[80 rows x 12 columns]

In [25]:
df_duplicates.to_excel("./output/102_Duplicates.xlsx", sheet_name='Duplicates')

This is to drop the duplicates and retain the unique records

In [26]:
df.drop_duplicates()

      customer_id gender  ...   lifetime_id   registration_id
0               1      F  ...  252-75079659  83-0273103159047
1               2      F  ...  135-42873594  20-2283708466172
2               3      M  ...  044-66007494  83-2258877467336
3               4      M  ...  028-87632354  79-8922351959436
4               5      M  ...  020-93596343  46-2325619217907
...           ...    ...  ...           ...               ...
9995         9996      F  ...  266-74513345  67-1412369514521
9996         9997      F  ...  028-97804420  17-0177492327158
9997         9998      M  ...  119-49124477  75-2576593573569
9998         9999      F  ...  163-17688666  90-3984706232170
9999        10000      F  ...  206-24263375  72-8240752359366

[9980 rows x 12 columns]

In [27]:
df.drop_duplicates(['customer_id','first_name']) # looking just at two column, that is allowing some fuzziness regarding the rest.

      customer_id gender  ...   lifetime_id   registration_id
0               1      F  ...  252-75079659  83-0273103159047
1               2      F  ...  135-42873594  20-2283708466172
2               3      M  ...  044-66007494  83-2258877467336
3               4      M  ...  028-87632354  79-8922351959436
4               5      M  ...  020-93596343  46-2325619217907
...           ...    ...  ...           ...               ...
9995         9996      F  ...  266-74513345  67-1412369514521
9996         9997      F  ...  028-97804420  17-0177492327158
9997         9998      M  ...  119-49124477  75-2576593573569
9998         9999      F  ...  163-17688666  90-3984706232170
9999        10000      F  ...  206-24263375  72-8240752359366

[9980 rows x 12 columns]

In [28]:
df.drop_duplicates(['customer_id'], keep='first') # keep can be first, last or False, default is first

      customer_id gender  ...   lifetime_id   registration_id
0               1      F  ...  252-75079659  83-0273103159047
1               2      F  ...  135-42873594  20-2283708466172
2               3      M  ...  044-66007494  83-2258877467336
3               4      M  ...  028-87632354  79-8922351959436
4               5      M  ...  020-93596343  46-2325619217907
...           ...    ...  ...           ...               ...
9995         9996      F  ...  266-74513345  67-1412369514521
9996         9997      F  ...  028-97804420  17-0177492327158
9997         9998      M  ...  119-49124477  75-2576593573569
9998         9999      F  ...  163-17688666  90-3984706232170
9999        10000      F  ...  206-24263375  72-8240752359366

[9960 rows x 12 columns]

If we want to get the unique values we have a few other ways
ways:

a) use the "unique" method from pandas, but note that it returns a Series object

b) we use the groupby commands

c) we could use something like getting the set of unique keys and joining (concat in pandas) with the rest having been converted into a dictionary beforehand. I ve seen it in StackOverflow and could be a faster, anyway it is more convenient than using groupby when you want to just collapse duplicate keys. This approach will return an arbitrary value of other fields for each key (ie if you have three duplicated keys and collapse using the df.to_dict it may not bring the values from the last record found, afaik)

See below the examples

In [29]:
df.customer_id.unique

<bound method Series.unique of 0           1
1           2
2           3
3           4
4           5
        ...
9995     9996
9996     9997
9997     9998
9998     9999
9999    10000
Name: customer_id, Length: 10000, dtype: int64>

In [30]:
pd.concat({k: pd.Series(list(set(v))) for k, v in df.to_dict('list').items()}, axis=1)

      customer_id gender  ...   lifetime_id   registration_id
0             1.0      F  ...  022-94514216  14-4477175322941
1             2.0      M  ...  027-82634742  31-4873147092568
2             3.0    NaN  ...  208-51895358  93-8471179016512
3             4.0    NaN  ...  203-76359675  43-5716963563302
4             5.0    NaN  ...  209-32590180  81-5274114140067
...           ...    ...  ...           ...               ...
9975          NaN    NaN  ...           NaN  92-8323851341842
9976          NaN    NaN  ...           NaN  42-2489086362116
9977          NaN    NaN  ...           NaN  05-4668946709850
9978          NaN    NaN  ...           NaN  90-3175952495956
9979          NaN    NaN  ...           NaN  38-1480304098771

[9980 rows x 12 columns]

There is a very useful module in python called pandas-profiling that takes a dataframe and does all sorts of analysis, including duplicates and renders it in a beautiful html interactive format.

It doesnt come in the standard library and you need to get it via:

install -c conda-forge pandas-profiling

In [31]:
# conda 
try:
    from pandas_profiling import ProfileReport
    profile = ProfileReport(df, title="Profiling Report")
    profile.to_file("./output/profiling report.html")
except ModuleNotFoundError as err:
    # Error handling
    print(err)

No module named 'pandas_profiling'