In [1]:
import pandas as pd
import numpy as np
import networkx as nx

In [1]:
df=pd.read_excel("./test_data/org.xlsx")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9553 entries, 0 to 9552
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      9553 non-null   int64
 1   employee_name   9553 non-null   object
 2   employee_id     9553 non-null   int64
 3   manager_id      9553 non-null   int64
 4   manager_name    9553 non-null   object
 5   band            9553 non-null   int64
 6   cost_centre     9553 non-null   object
 7   borg_id         9553 non-null   object
 8   employee_title  9553 non-null   object
 9   is_pa           9553 non-null   bool
dtypes: bool(1), int64(4), object(5)
memory usage: 681.1+ KB

In [2]:
G= nx.from_pandas_edgelist(df, 'manager_id', 'employee_id', ['is_pa'],create_using=nx.DiGraph())

In [3]:
for i,r in df.iterrows():
    G.nodes[r['employee_id']]['employee_name'] = r['employee_name']
    G.nodes[r['employee_id']]['band'] = r['band']
    G.nodes[r['employee_id']]['employee_title'] = r['employee_title']
    G.nodes[r['employee_id']]['cost_centre'] = r['cost_centre']

In [6]:
list(G.edges)[2]

(1, 1814)

In [7]:
list(G.nodes)[1]

2

In [10]:
G.nodes[1]

{'employee_name': 'Steve Jobs',
 'band': 1,
 'employee_title': 'Senior Director',
 'cost_centre': '1.1'}

In [12]:
list(G.neighbors(1))

[1, 2, 1814, 2334, 4409, 5449, 6090, 7513]

In [20]:
list(G.successors(1))

[1, 2, 1814, 2334, 4409, 5449, 6090, 7513]

In [21]:
list(nx.descendants(G,1))[0:5]

[2, 3, 4, 5, 6]

In [25]:
temp=[]
for  n in G.nodes:
    all_leaves=len(list(nx.descendants(G,n)))
    children=len(list(G.successors(n)))-1
    temp.append([n, all_leaves, children])
df2=pd.DataFrame(temp,columns=['id','full_span','direct_reports'])
df2.head()

   id  full_span  direct_reports
0   1       9552               7
1   2       1811               6
2   3        253               6
3   4         48               4
4   5          7               6

In [26]:
nx.ancestors(G,2)

{1}

In [28]:
span_threshold=40
from functools import lru_cache

@lru_cache(maxsize=10000)
def find_lower_bound(list_to_check,lower_bound):
    result=list_to_check[0]
    for i,e in enumerate(list_to_check):
        if e<= result and e>=lower_bound:
            result=e
    return list_to_check.index(result)
        
        
    
   
for n in list(G.nodes):
    a_list=list(nx.ancestors(G,n))
    a_span=[]
    for a in a_list:
        span=len(nx.descendants(G,a))
        a_span.append(span)
    G.nodes[n]["First Boss"]=a_list[find_lower_bound(a_span,span_threshold)]

TypeError: unhashable type: 'list'